.header {
 border: 4px solid var(--header-outline); 
 width: 600px;
 height: 150px;

 padding: 10px;
 border-radius: 10px;
 color: white;

 display: flex;
 justify-content: space-between;
 align-items: center;
}

.score {
  display: grid;
  place-items: center;
  height: 110px;
  width: 130px;

  font-size: 4rem;
  font-weight: var(--fw-bold);
  color: var(--dark-text);
  background-color: white;
  border-radius: 4px;
}

.score span {
  font-size: 1.5rem;
}