.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 702px;
  height: 150px;
  padding: 10px;
  border-radius: 10px;
  color: white;
 
  border: 4px solid var(--header-outline);
}

.score {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 110px;
  width: 130px;

  font-size: 4rem;
  font-weight: var(--fw-bold);
  color: var(--dark-text);
  background-color: white;
  border-radius: 10px;
}

.text {
  font-size: 18px;
  letter-spacing: 2px;
}

.number {
  /* font-size: 18px;
  letter-spacing: 2px;
  letter-spacing: 0px; */

  font-size: 4rem;
  font-weight: var(--fw-bold);
  color: var(--dark-text);
  /* background-color: #d62121; */
  line-height: 62px
}

@media (min-width: 900px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    width: 702px;
    height: 153px;
    padding: 10px 20px 10px 27px;
    border-radius: 10px;
    color: white;
  }

  .score {
    height: 116px;
    width: 152px;
    font-size: 4rem;
    color: var(--dark-text);
    background-color: white;
    border-radius: 8px;
    padding-top: 16px;
  }

  .text {
    font-size: 18px;
    letter-spacing: 2px;
  }

  .number {
    font-size: 4rem;
    font-weight: var(--fw-bold);
    color: var(--dark-text);
    background-color: white;
  }
}