.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 84.5vw;
  height: 100px;
  padding: 21px 11px 20px 20px;
  border-radius: 10px;
  color: white;
 
  border: 2px solid var(--header-outline);
}

.logo {
  width: 86px;
  height: 50px;
}

.score {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 70px;
  width: 80px;

  background-color: white;
  border-radius: 4px;
  padding-top: 10px;
}

.text {
  font-size: 8px;
  letter-spacing: 2px;
  color: var(--score-text);
}

.number {
  font-size: 40px;
  font-weight: var(--fw-bold);
  color: var(--score-number-cl);
  /* background-color: #d62121; */
  line-height: 43px
}

@media (min-width: 900px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 702px;
    height: 153px;
    padding: 12px 20px 10px 27px;
    border-radius: 12px;
    color: white;
  }
  .logo {
    width: 163px;
    height: 100px;
  }

  .score {
    height: 116px;
    width: 152px;
    font-size: 4rem;
    background-color: white;
    border-radius: 10px;
    padding-top: 16px;
    gap: 12px;
  }

  .text {
    font-size: 16px;
    letter-spacing: 2px;
  }

  .number {
    font-size: 4rem;
    font-weight: var(--fw-bold);
  }
}