@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  /* Primary Colors */
  --scissors-gradient-start: hsl(39, 89%, 40%);
  --scissors-gradient-end: hsl(40, 84%, 53%);
  --paper-gradient-start: hsl(230, 89%, 40%);
  --paper-gradient-end: hsl(230, 89%, 65%);
  --rock-gradient-start: hsl(349, 71%, 40%);
  --rock-gradient-end: hsl(349, 70%, 56%);
  --lizard-gradient-start: hsl(261, 73%, 60%);
  --lizard-gradient-end: hsl(261, 72%, 63%);
  --cyan-start: hsl(189, 59%, 53%);
  --cyan-end: hsl(189, 58%, 57%);

  /* Neutral Colors */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  /* Background Colors */
  --background-gradient-start: hsl(214, 47%, 23%);
  --background-gradient-end: hsl(237, 49%, 15%);

  --fw-semi-bold: 600;
  --fw-bold: 700;
}

body {
  display: grid;
  grid-template-rows: 150px auto;
  justify-content: center;
  justify-items: center;
  margin: 0;
  padding: 50px 0;
  min-height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: var(--fw-semi-bold);
  background: linear-gradient(var(--background-gradient-start), var(--background-gradient-end));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (min-width: 900px) {
  body {
    padding: 46px 0;
    gap: 105px;
  }
}