.rulesBtnWrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 1366px;
}

.rulesBtn {
  color: white;
  background: transparent;
  border-radius: 8px;

  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid var(--rule-border-cl);

  font-size: 15px;
  height: 40px;
  width: 127px;
  padding: 10px 11px 9px 10px;
  letter-spacing: 3px;
}

/* styles for modal */
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: hsla(0, 0%, 0%, 0.5);
  overflow-y: hidden;
}

 .modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  padding: 1.5rem 1.75rem;
  padding-top: 90px;
  width: 100vw;
  height: 100vh;
  border-radius: 8px;
  background-color: white;
  text-transform: uppercase;
}

.modalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.closeBtn {
  position: absolute;
  top: 88%;
  cursor: pointer;
  border: none;
}

.title {
  color: var(--dark-text);
  font-size: 2.25rem;
  font-weight: var(--fw-semi-bold);
  margin: 0;
}

@media (min-width: 900px) {
  .rulesBtnWrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 32px ;

    position: relative;
    top: -2px
  }

  .rulesBtn {
    font-size: 15px;
    height: 42px;
    width: 127px;
    padding: 10px 11px 9px 10px;
  }

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 1.5rem 1.75rem;
    width: 400px;
    height: 413px;
    border-radius: 8px;
    background-color: white;
  }
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .closeBtn {
    position: relative;
    top: 0;
    cursor: pointer;
    border: none;
  }
}